<div ng-controller="alertasController" class="capaComun">
    <div class="migas">
        <img class="imagenAlertas" src="img/ico_Titu_Alertas.svg"/><span>{{ 'PaginaAlertas.alertasPaginaTitulo' | translate }}</span>
    </div>
    <div id="capaAlertas" class="capaComun" ng-repeat="alerta in alertas | orderBy:'idAlerta':true">
        <div class="alertasText"  >

            <div class="titulo" ng-class="{'leido': alerta.leido==1}">{{alerta.titulo}}</div>
            <div class="contenidoAlertas">{{alerta.contenido}}</div>
        </div>
    </div>
</div>