<div ng-controller="menuPrincipalController" id="ayudaConfigurar" class="fondo">

    <div class="menuOpciones ayudaTexto">
        <div class="primerosPasos"> <span class="verde">{{ 'AyudaConfiguraciónMulti.primerosPasos' | translate }}</span></div>
        <p>
            {{ 'AyudaConfiguraciónMulti.parrafoUno' | translate }}
           
        </p>
        <p class="capaNoMostrar centrado">
            <input id="noMostrar" name="noMostrarMulti" ng-model="noMostrarMulti" type="checkbox"/>{{ 'ayudaConfiguración.noMostrarMas' | translate }}
        </p>
        <p class="capaNoMostrar">{{ 'ayudaConfiguración.parrafoTres' | translate }}</p>

    </div>
    <div class="centrado capaGuardar ayudaTexto">
        <button class="form-control btnGuardar btn btn-success btnContAyuda" ng-click="continuarMulti();">{{ 'comunes.continuar' | translate }}</button>
    </div>
    <div class="cerraSesion cerrarLogoAyudas">
        <img class="logoUniAyuda" src="img/Logo_Transparente.png"/>
    </div>

</div>