<div class="capaVideo" ng-controller="bienvenidaController">

    <div id="video">
        <img class="videoAnimado" src="img/santander_universidades_25fps.gif"/>
    </div>

    <div class="videoCapaTexto">

        <div ng-show="showActions" ng-swipe-left="showActions2 = true;showActions = false"  ng-hide="!showActions" class="bienvenidaAplVideo">
            <div class="capaTextoBievenida">
                <p class="centrado titulo">{{ 'Bienvenida.creaTuEmpresa' | translate }}</p>
                <p class="texto">{{ 'Bienvenida.publicitate' | translate }}</p>
            </div>
            <div class="imagenPosicion">
                <img ng-src="img/paginacionVideo1.png">
            </div>

        </div>

        <div ng-show="showActions2" ng-swipe-left="showActions3 = true;showActions2 = false" ng-swipe-right="showActions = true;;showActions2=false;showActions3 = false " ng-hide="!showActions2" class="bienvenidaAplVideo">
            <div class="capaTextoBievenida">
                <p class="centrado titulo">{{ 'Bienvenida.creaTuEmpresa' | translate }}</p>
                <p class="texto">{{ 'Bienvenida.invierte' | translate }}</p>
            </div>
            <div class="imagenPosicion">
                <img ng-src="img/paginacionVideo2.png">
            </div>



        </div>

        <div ng-show="showActions3" ng-swipe-right="showActions2 = true;showActions = false;showActions3 = false " ng-hide="!showActions3" class="bienvenidaAplVideo">
            <div class="capaTextoBievenida">
                <p class="centrado titulo ">{{ 'Bienvenida.difJuegos' | translate }}</p>
                <p class="texto">{{ 'Bienvenida.sumergete' | translate }}</p>


            </div>
            <div class="imagenPosicion">
                <img ng-src="img/paginacionVideo3.png">
            </div>

        </div>


        <div class="botonEmpezar">
            <a class="btn empezar" ng-click="continuar()"><span class="empezar_izq">{{ 'Bienvenida.empezar' | translate }}</span><span class="empezar_dcha"> > </span></a>
        </div>

    </div>

</div>
<div class="logo logoBienvenida"><img src="img/Logo_Incio.png"/></div>
    <!--
<div ng-controller="bienvenidaController" id="bievenida">

    <div id="contenedorBienvenida">
        <div>
            <div ng-show="!showActions" ng-swipe-left="showActions = true" class="bienvenidaApl imagenes_galeria">
               <img src="img/pantalla_Publica_1.jpg"  ng-click="continuar();" >
            </div>
            <div ng-show="showActions" ng-swipe-right="showActions = false" class="bienvenidaApl imagenes_galeria">
                <img src="img/pantalla_Publica_2.jpg" ng-click="continuar();">
            </div>
        </div>
    </div>
</div>-->
