<div class="fondoNuevaPartida" ng-controller="concursoLigaNacionalController">
    <div id="nuevaPartida" class="capaNuevaPartida concursoligaNacional">
        <div class="titulo">{{ 'LigaNacional.ligaNacional' | translate }}</div>
        <div class="groupOptions">
            
			<div class="faseConcurso" style="width:{{anchoFase}}%" ng-repeat="fase in fasesInfo track by $index" ng-click="updateFrecuenciaDecision($index)" >
				<div class="text-center ">
					<img src="img/{{fase.icono}}.svg"/>
				</div>
				<div class="text-center">
					<span class="optionsText" > {{fase.mesesEscenario | translate}} </span>
				</div>	
			</div>
			<div class="separador"></div>
			 <div class="groupOptionsText groupMulti" style="width:100%">				
                <div style="text-align:center;width:100%">
					<span class="optionsText" style="text-align:center" >{{ 'LigaNacional.dispones' | translate }}</span><br>
				</div>
                <div style="text-align:center;width:100%">
					<span class="optionsText" style="text-align:center" ng-disabled="!checked">{{ 'Partida.seleccionaMercadoMulti_tres' | translate }}</span>
				</div>
				<div class="text-center">	
					<img src="img/Bombilla_Tiempo.gif"/>
				</div>
				<div class="text-center">	
					<span class="optionsText" ><strong>{{duracionDecision}} {{ 'LigaNacional.horas' | translate }}</strong></span>
				</div>
				<div class="text-center">	
					<span class="optionsText" > {{ 'Partida.seleccionaMercadoMultiDecision' | translate }}</span>
				</div>				
			</div>
			
        </div>        
        <div class="groupOptions">
            <a class="btn btn-success btnGuardar" ng-disabled="!comenzado" ng-click="cargarPartidaConcurso()" >{{ 'comunes.continuarMin' | translate }}</a>
              <a class="btn btn-success btnGuardar btn-registro" href="#/concurso">{{ 'Ranking.volver' | translate }}</a>
        </div>


    </div>
</div>


