<div id="menuOpciones" class="fondo" ng-controller="PartidaController">
    <div class="menuOpciones">
        <a class="form-control btnGuardar btn btn-success" ng-click="continuarPartidaSingle();" >{{ 'Partida.single' | translate }} </a>
        <a class="form-control btnGuardar btn btn-success" ng-click="continuarPartidaMulti();">{{ 'Partida.multi' | translate }} </a>
         <a class="btn btn-success btnGuardar" href="#/menuPrincipal">{{ 'Partida.volver' | translate }}</a>
    </div>
</div>