<div ng-controller="efeController">
    <div id="efe" class="capaComun">

        <div id="activo">
            <div class="migas"><span>{{ 'migasPan.miEmpresa' | translate }} > </span> {{ 'Efe.efe' | translate }}<img class="ayuda" src="img/ico_INFO.png" ng-click="pantallaInformacion()"/></div>
            
            <div class="mesJornada">
				<i ng-click="historico(-1)" class="glyphicon" ng-class="{true: 'glyphicon-chevron-left', false: ''}[dataBwdAvailable]"></i>
				<span>{{mesVisualizado}}</span>
				<i ng-click="historico(1)" class="glyphicon" ng-class="{true: 'glyphicon-chevron-right', false: ''}[dataFwdAvailable]"></i>			
			</div>
			
			<table id="balanceActivo" class="table">
                <thead>
                <tr>
                    <th colspan="2"></th>

                </tr>
                </thead>
                <tbody>
                    <tr ng-click="isOpen=!isOpen">
                        <td><i class="glyphicon" ng-class="{'glyphicon-chevron-up': isOpen, 'glyphicon-chevron-down': !isOpen}"></i>{{ 'Efe.flujoEfectivo' | translate }}</td>
                        <td class="alignRight" ng-currency sin-decimales=1  ng-model="efeInfo.FLUJOSI" >{{efeInfo.FLUJOSI }} </td>
                    </tr>

                    <tr ng-if="isOpen">
                        <td>{{ 'Efe.resultadoAntImp' | translate }}</td>
                        <td class="alignRight" ng-currency sin-decimales=1  ng-model="efeInfo.ResultPreimpuestos" >{{efeInfo.ResultPreimpuestos }} </td>
                    </tr>
                    <tr ng-if="isOpen">
                        <td>{{ 'Efe.ajustesResultado' | translate }}</td>
                        <td class="alignRight" ng-currency sin-decimales=1  ng-model="efeInfo.AjustResult" >{{efeInfo.AjustResult }} </td>
                    </tr>
                        <tr ng-if="isOpen">
                            <td class="subseccion">{{ 'Efe.amortizacionInmo' | translate }}</td>
                            <td class="alignRight" ng-currency sin-decimales=1  ng-model="efeInfo.AmortInmov" >{{efeInfo.AmortInmov }} </td>
                        </tr>
                        <tr ng-if="isOpen">
                            <td class="subseccion">{{ 'Efe.gastosFin' | translate }}</td>
                            <td class="alignRight" ng-currency sin-decimales=1  ng-model="efeInfo.GastFinanc" >{{efeInfo.GastFinanc}} </td>
                        </tr>
                        <tr ng-if="isOpen">
                            <td class="subseccion">{{ 'Efe.variacionValorRaz' | translate }}</td>
                            <td class="alignRight" ng-currency sin-decimales=1  ng-model="efeInfo.VariacRazonTnstrumentosFinan" >{{efeInfo.VariacRazonTnstrumentosFinan }} </td>
                        </tr>
						 <tr ng-if="isOpen">
                            <td class="subseccion">{{ 'Efe.impuSubv' | translate }}</td>
                            <td class="alignRight" ng-currency sin-decimales=1  ng-model="efeInfo.ImputacionSubvenciones" >{{efeInfo.ImputacionSubvenciones}} </td>
                        </tr>
                    <tr ng-if="isOpen">
                        <td>{{ 'Efe.cambiosCapCorr' | translate }}</td>
                        <td class="alignRight" ng-currency sin-decimales=1  ng-model="efeInfo.CambiosCapitalCorriente" >{{efeInfo.CambiosCapitalCorriente}} </td>
                    </tr>
                        <tr ng-if="isOpen">
                            <td class="subseccion">{{ 'Efe.deudoresOtraCuenta' | translate }}</td>
                            <td class="alignRight" ng-currency sin-decimales=1  ng-model="efeInfo.ClientesVentas" >{{efeInfo.ClientesVentas}} </td>
                        </tr>
                        <!--<tr ng-if="isOpen">
                            <td class="subseccion">Proveedores materias primas y distribuidores</td>
                            <td class="alignRight">{{efeInfo.EF10}} </td>
                        </tr>-->
                    <tr ng-if="isOpen">
                        <td>{{ 'Efe.otrosFlujosEf' | translate }}</td>
                        <td class="alignRight" ng-currency sin-decimales=1  ng-model="efeInfo.Otrosflujos" >{{efeInfo.Otrosflujos}} </td>
                    </tr>
                        <tr ng-if="isOpen">
                            <td class="subseccion">{{ 'Efe.pagosInt' | translate }}</td>
                            <td class="alignRight" ng-currency sin-decimales=1  ng-model="efeInfo.PagosInt" >{{efeInfo.PagosInt}} </td>
                        </tr>
                        <tr ng-if="isOpen">
                            <td class="subseccion">{{ 'Efe.pagoImpuBen' | translate }}</td>
                            <td class="alignRight" ng-currency sin-decimales=1  ng-model="efeInfo.PagosImpuesto" >{{efeInfo.PagosImpuesto}} </td>
                        </tr>

                        <tr ng-click="isOpenC=!isOpenC">
                            <td><i class="glyphicon" ng-class="{'glyphicon-chevron-up': isOpenC, 'glyphicon-chevron-down': !isOpenC}"></i>{{ 'Efe.flujoEfectivoDos' | translate }}</td>
                            <td class="alignRight" ng-currency sin-decimales=1  ng-model="efeInfo.FLUJOSII" >{{efeInfo.FLUJOSII}} </td>
                        </tr>
                        <tr ng-if="isOpenC">
                            <td >{{ 'Efe.pagosInver' | translate }}</td>
                            <td class="alignRight" ng-currency sin-decimales=1  ng-model="efeInfo.PagosInv" >{{efeInfo.PagosInv}} </td>
                        </tr>
                        <tr ng-if="isOpenC">
                            <td class="subseccion">{{ 'Efe.inmoMat' | translate }}</td>
                            <td class="alignRight" ng-currency sin-decimales=1  ng-model="efeInfo.InmovMatI" >{{efeInfo.InmovMatI}} </td>
                        </tr>
                        <tr ng-if="isOpenC">
                            <td class="subseccion">{{ 'Efe.otrosActFin' | translate }}</td>
                            <td class="alignRight" ng-currency sin-decimales=1  ng-model="efeInfo.OtrosActFinA" >{{efeInfo.OtrosActFinA}} </td>
                        </tr>
                        <tr ng-if="isOpenC">
                            <td>{{ 'Efe.cobrosPorDesinver' | translate }}</td>
                            <td class="alignRight" ng-currency sin-decimales=1  ng-model="efeInfo.CobrosDesinv" >{{efeInfo.CobrosDesinv }} </td>
                        </tr>
                        <tr ng-if="isOpenC">
                            <td class="subseccion">{{ 'Efe.otrosActFin' | translate }}</td>
                            <td class="alignRight" ng-currency sin-decimales=1  ng-model="efeInfo.OtrosActFinB" >{{efeInfo.OtrosActFinB}} </td>
                        </tr>

                    <tr ng-click="isOpenCC=!isOpenCC">
                        <td><i class="glyphicon" ng-class="{'glyphicon-chevron-up': isOpenCC, 'glyphicon-chevron-down': !isOpenCC}"></i> {{ 'Efe.otrosFlujosTres' | translate }}</td>
                        <td class="alignRight" ng-currency sin-decimales=1  ng-model="efeInfo.FLUJOSIII" >{{efeInfo.FLUJOSIII}} </td>
                    </tr>
                    <tr ng-if="isOpenCC">
                        <td >{{ 'Efe.cobrosPagos' | translate }}</td>
                        <td class="alignRight" ng-currency sin-decimales=1  ng-model="efeInfo.CobrosPagosInstrumPatr" >{{efeInfo.CobrosPagosInstrumPatr}} </td>
                    </tr>
                    <tr ng-if="isOpenCC">
                        <td class="subseccion">{{ 'Efe.subvDonaciones' | translate }}</td>
                        <td class="alignRight" ng-currency sin-decimales=1  ng-model="efeInfo.SubvDonaLeg" >{{efeInfo.SubvDonaLeg}} </td>
                    </tr>
                    <tr ng-if="isOpenCC">
                        <td >{{ 'Efe.cobrosPagosPasFin' | translate }}</td>
                        <td class="alignRight" ng-currency sin-decimales=1  ng-model="efeInfo.CobrosPagosInstrumPFin" >{{efeInfo.CobrosPagosInstrumPFin }} </td>
                    </tr>
                    <tr ng-if="isOpenCC">
                        <td class="subseccion">{{ 'Efe.emisionDeuda' | translate }}</td>
                        <td class="alignRight" ng-currency sin-decimales=1  ng-model="efeInfo.EmisionDeudasEC" >{{efeInfo.EmisionDeudasEC}} </td>
                    </tr>
                    <tr ng-if="isOpenCC">
                        <td class="subseccion">{{ 'Efe.devolucionAmor' | translate }}</td>
                        <td class="alignRight" ng-currency sin-decimales=1  ng-model="efeInfo.DevolAmortDeudasEC" >{{efeInfo.DevolAmortDeudasEC}} </td>
                    </tr>
                    <tr >
                        <td>{{ 'Efe.aumentoDism' | translate }}</td>
                        <td class="alignRight" ng-currency sin-decimales=1  ng-model="efeInfo.AUMENTDISMINUCION" >{{efeInfo.AUMENTDISMINUCION}} </td>
                    </tr>
                    <tr class="ng-scope">
                        <td >{{ 'Efe.efectivo' | translate }}</td>
                        <td class="alignRight" ng-currency sin-decimales=1  ng-model="efeInfo.EfectivoComienzo" >{{efeInfo.EfectivoComienzo }} </td>
                    </tr>
                    <tr class="ng-scope">
                        <td >{{ 'Efe.efectivoFinal' | translate }}</td>
                        <td class="alignRight" ng-currency sin-decimales=1  ng-model="efeInfo.EfectivoFinal" >{{efeInfo.EfectivoFinal}} </td>
                    </tr>

                </tbody>

            </table>

        </div>
    </div>

</div>