<div ng-controller="informacionController" class="ups">
    <div class="capaComun capanInformacion">
        <img class="ups_img" src="img/circulo_Info.svg"/>
        <div class="tituloInfor"><span class="ups_titulo">{{ 'Informacion.nombreGestion' | translate }}</span></div>
        <div class="ups_mensaje">
            <p>{{ 'Informacion.parrafo_unoGestion' | translate  }}</p>
            <p>{{ 'Informacion.parrafoDirectricesGestion' | translate  }}</p>
           <ul>
               <li>{{ 'Informacion.parrafoDirectricesGestionUno' | translate  }}</li>
               <li>{{ 'Informacion.parrafoDirectricesGestionDos' | translate  }}</li>
               <li>{{ 'Informacion.parrafoDirectricesGestionTres' | translate  }}</li>
               <li>{{ 'Informacion.parrafoDirectricesGestionCuatro' | translate  }}</li>
               <li>{{ 'Informacion.parrafoDirectricesGestionCinco' | translate  }}</li>
               <li>{{ 'Informacion.parrafoUltimoGestion' | translate  }}</li>
           </ul>

        </div>
        <a class="form-control btnGuardar btn btn-success" ng-click="volver()">{{'comunes.volver' | translate}}</a>



    </div>

</div>
