<div ng-controller="informacionController" class="ups">
    <div class="capaComun capanInformacion">
        <img class="ups_img" src="img/circulo_Info.svg"/>
        <div class="tituloInfor"><span class="ups_titulo">{{ 'Informacion.nombreIf' | translate }}</span></div>
        <div class="ups_mensaje">
           <p>{{ 'Informacion.parrafo_unoIf' | translate }}</p>
           <ul>
               <li>{{ 'Informacion.parrafo_dosIf' | translate }}</li>
               <li>{{ 'Informacion.parrafo_tresIf' | translate  }}</li>
               <li>{{ 'Informacion.parrafo_cuatroIf' | translate  }}</li>
           </ul>

        </div>
        <a class="form-control btnGuardar btn btn-success" ng-click="volver()">{{'comunes.volver' | translate}}</a>



    </div>

</div>
