<div id="menuOpciones" class="fondoConcurso" ng-controller="loginController">
    <div class="menuOpciones capaLogin">
        <div class="tituloLogin">
          <span >{{ 'Login.login' | translate }}</span>
        </div>
         <div class="formulario">
            <form class="loginForm" name="loginForm" ng-model="loginForm" role="form" >
                <input type="text" id="login" class="form-control" name="login" ng-model="user" placeholder="{{ loggedInUserNameConcurso }}" required select-on-click  ng-value="{{loggedInUserNameConcurso}}"/>
                <input type="password" class="form-control" name="password" ng-model="password" placeholder=" " required/>
                  <a class="btn btn-success btnGuardar" ng-click="login()" ng-disabled="!loginForm.$valid">{{ 'comunes.aceptar' | translate }} </a>

                </br>
                <a ng-click="mostrar = true" class="recuperarPwd">{{ 'Login.recuperarPwd' | translate}}</a>
                <br>
                <div ng-show="mostrar">
                    <span  class="texto_blanco">{{ 'Login.introducePwd' | translate}}</span>
                    <input type="text"  class="form-control" ng-model="recuperarEmail">
                </div>
				<a  ng-show="mostrar" class="btn btn-success btnGuardar" ng-click="recuperarPwd()">{{ 'comunes.enviar_min' | translate }} </a>
				<a  ng-show="mostrar" href="#/recuperarPassword" class="btn btn-success btnGuardar" >{{ 'Login.recuperarPwd' | translate }} </a>
             
                
            </form>
           
          </div>

          <a class="btn btn-success btnGuardar" href="#/menuPrincipal">{{ 'Ranking.volver' | translate }}</a>

    </div>
   
    
</div>
   
</div>