<div ng-controller="mantenimientoController">

        <div class="capaUps capaMantenimiento" >
            <img class="ups_img" src="img/cuore_Ups.gif"/>
            <h1 class="ups_titulo">{{ 'Ups.ups' | translate }}</h1>
            <div class="ups_mensaje ups_mantenimiento">
                <div><span>{{ getInfoMantenimiento }}</span></div>
            </div>
            <div class="cerraSesion">
                <!--<a class="form-control btnGuardar btn btn-success " ng-click="logout();">Cerrar sesión </a>-->
                <a ng-show="android" class="form-control btnGuardar btn btn-success " ng-click="salir();">{{ 'MenuPrincipal.salir' | translate }} </a>
            </div>
        </div>


</div>

