<div ng-controller="mercadoController">
    <div id="prestamos" class="contratacion capaComun presupuestos">
        <div class="migas"><span>{{ 'migasPan.marketing' | translate }} > </span>{{ 'InfoMercado.infoMercado' | translate }}<img class="ayuda" src="img/ico_INFO.png" ng-click="pantallaInformacion()"/></div>
        <div class="mesJornada"> <span>{{mesVisualizadoGeneral}}</span></div>
        <div class="presupuestosAcordeon" id="presupuestosAcordeon infoMercado">
            <ul class="acordeon" >
                <accordion close-others="true">
                    <li>
                        <accordion-group is-open="status.isOpen" ng-init="status = {isOpen: false}"  >
                            <accordion-heading >
                                <div class="presupuestoDetalle" ng-click="cargarGrafica('motivacion', status.isOpen)">
                                    <div>
                                        <span class="nombrePro">{{ 'InfoMercado.motivacion' | translate }}</span>
                                        <div class="capaMercado capaParaGraficaMercado"><div class="cuadradito fondoRosa"></div><span>{{ 'InfoMercado.miEmpresa' | translate }}: </span><span>{{convertirBase10(mercadoInfo.motivacionMediaPlantilla,mercadoInfo.maxNivelMotivacion, mercadoInfo.minNivelMotivacion) | number:2}}</span></div>
                                        <div class="capaMercado capaParaGraficaMercado"><div class="cuadradito fondoVerdeRenta"></div><span>{{ 'InfoMercado.competencia' | translate }}: </span><span>{{ convertirBase10(valorCompeMot,mercadoInfo.maxNivelMotivacion, mercadoInfo.minNivelMotivacion) | number:2}}</span></div>

                                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.isOpen, 'glyphicon-chevron-down': !status.isOpen}"></i>
                                    </div>
                                </div>
                            </accordion-heading>

                            <form class="rentaV formInfoMercado" name="rentaV">
								<div class="capaCanvasInv" ng-show="historicoVacio">
									<p>
										<br>
										<span >{{ 'InfoMercado.historicoVacio' | translate }}</span>
									</p>
								</div>
                                <div class="capaCanvasInv capaCanvas" ng-show="!historicoVacio">
                                    <canvas id="chartLine" class="grafifasAncho" ></canvas>
                                </div>

                            </form>
                        </accordion-group>
                    </li>
                    <li >
                        <accordion-group is-open="status.isOpen2" ng-init="status = {isOpen2: false}"  >
                            <accordion-heading >
                                <div class="presupuestoDetalle" ng-click="cargarGrafica('rendimiento', status.isOpen2)" >
                                    <div>
                                        <span class="nombrePro">{{ 'InfoMercado.rendimientoMedio' | translate }}</span>
                                        <div class="capaMercado capaParaGraficaMercado"><div class="cuadradito fondoRosa"></div><span>{{ 'InfoMercado.miEmpresa' | translate }}: </span><span>{{convertirBase10(mercadoInfo.rendimientoMedioPlantilla,mercadoInfo.maxNivelRendimiento, mercadoInfo.minNivelRendimiento) | number:2}}</span></div>
                                        <div class="capaMercado capaParaGraficaMercado"><div class="cuadradito fondoVerdeRenta"></div><span>{{ 'InfoMercado.competencia' | translate }}: </span><span>{{ convertirBase10(valorCompeRen,mercadoInfo.maxNivelRendimiento, mercadoInfo.minNivelRendimiento) | number:2}}</span></div>

                                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.isOpen2, 'glyphicon-chevron-down': !status.isOpen2}"></i>
                                    </div>
                                </div>
                            </accordion-heading>

                            <form class="rentaV formInfoMercado" name="rentaV">
                                <div class="capaCanvasInv" ng-show="historicoVacio">
									<p>
										<br>
										<span >{{ 'InfoMercado.historicoVacio' | translate }}</span>
									</p>
								</div>
								<div class="capaCanvasInv capaCanvas1" ng-show="!historicoVacio">
                                    <canvas id="chartLine1" class="grafifasAncho"></canvas>
                                </div>

                            </form>
                        </accordion-group>
                    </li>
                    <li >
                        <accordion-group is-open="status.isOpen3" ng-init="status = {isOpen3: false}"  >
                            <accordion-heading >
                                <div class="presupuestoDetalle" ng-click="cargarGrafica('ipc', status.isOpen3)">
                                    <div>
                                        <span class="nombrePro">{{ 'InfoMercado.ipc' | translate }}</span>
                                        <div class="capaMercado capaParaGraficaMercado"><div class="cuadradito fondoRosa"></div><span>{{ 'InfoMercado.ipc' | translate }}: </span><span>{{mercadoInfo.ipc | number:2}}</span></div>
                                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.isOpen3, 'glyphicon-chevron-down': !status.isOpen3}"></i>
                                    </div>
                                </div>
                            </accordion-heading>
                            <form class="rentaV formInfoMercado" name="rentaV">
                                <div class="capaCanvasInv" ng-show="historicoVacio">
									<p>
										<br>
										<span >{{ 'InfoMercado.historicoVacio' | translate }}</span>
									</p>
								</div>
								<div class="capaCanvasInv capaCanvas2" ng-show="!historicoVacio" >
                                    <canvas id="chartLine2" class="grafifasAncho"></canvas>
                                </div>

                            </form>
                        </accordion-group>
                    </li>

                    <li >
                        <accordion-group is-open="status.open" class="sinAcordeon">
                            <accordion-heading>
                                <div class="presupuestoDetalle">
                                    <div>
                                        <span class="nombrePro">{{ 'InfoMercado.disenadores' | translate }}</span>
                                        <div class="capaMercado capaParaGraficaMercado"><div class="cuadradito fondoRosa"></div><span>{{ 'InfoMercado.miEmpresa' | translate }}: </span><span>{{mercadoInfo.totalPlantilla.Dise}}</span></div>
                                        <div class="capaMercado capaParaGraficaMercado"><div class="cuadradito fondoVerdeRenta"></div><span>{{ 'InfoMercado.competencia' | translate }}: </span><span>{{ varloComDisenio | number:0}}</span></div>
                                    </div>
                                </div>
                            </accordion-heading>
                        </accordion-group>
                    </li>
                    <li>
                        <accordion-group  class="sinAcordeon">
                            <accordion-heading>
                                <div class="presupuestoDetalle">
                                    <div>
                                        <span class="nombrePro">{{ 'InfoMercado.programadores' | translate }}</span>
                                        <div class="capaMercado capaParaGraficaMercado"><div class="cuadradito fondoRosa"></div><span>{{ 'InfoMercado.miEmpresa' | translate }}: </span><span>{{mercadoInfo.totalPlantilla.Prog}}</span></div>
                                        <div class="capaMercado capaParaGraficaMercado"><div class="cuadradito fondoVerdeRenta"></div><span>{{ 'InfoMercado.competencia' | translate }}: </span><span>{{ varloComPro | number:0}}</span></div>

                                    </div>
                                </div>
                            </accordion-heading>


                        </accordion-group>
                    </li>

                    <li >
                        <accordion-group is-open="status.open9" class="sinAcordeon">
                            <accordion-heading>
                                <div class="presupuestoDetalle">
                                    <div>
                                        <span class="nombrePro">{{ 'InfoMercado.proyectosEn' | translate }}</span>
                                        <div class="capaMercado capaParaGraficaMercado"><div class="cuadradito fondoRosa"></div><span>{{ 'InfoMercado.miEmpresa' | translate }}: </span><span>{{mercadoInfo.proyectos.cantidad | number}}</span></div>
                                        <div class="capaMercado capaParaGraficaMercado"><div class="cuadradito fondoVerdeRenta"></div><span>{{ 'InfoMercado.competencia' | translate }}: </span><span>{{ varloComProyectos | number}}</span></div>

                                    </div>
                                </div>
                            </accordion-heading>
                        </accordion-group>
                    </li>
                    <li >
                        <accordion-group is-open="status.open10" class="sinAcordeon">
                            <accordion-heading>
                                <div class="presupuestoDetalle">
                                    <div>
                                        <span class="nombrePro">{{ 'InfoMercado.precioMedio' | translate }}</span>
                                        <div class="capaMercado capaParaGraficaMercado"><div class="cuadradito fondoRosa"></div><span>{{ 'InfoMercado.miEmpresa' | translate }}: </span><span ng-currency ng-model="mercadoInfo.proyectos.precioMedio" sin-decimales=1 >{{mercadoInfo.proyectos.precioMedio}}</span></div>
                                        <div class="capaMercado capaParaGraficaMercado"><div class="cuadradito fondoVerdeRenta"></div><span>{{ 'InfoMercado.competencia' | translate }}: </span><span ng-currency ng-model="varloComPrecMed" sin-decimales=1 >{{ varloComPrecMed}}</span></div>
                                    </div>
                                </div>
                            </accordion-heading>
                        </accordion-group>
                    </li>
                    <li >
                        <accordion-group is-open="status.open11" class="sinAcordeon">
                            <accordion-heading>
                                <div class="presupuestoDetalle">
                                    <div>
                                        <span class="nombrePro">{{ 'InfoMercado.calidad' | translate }}</span>
                                        <div class="capaMercado capaParaGraficaMercado"><div class="cuadradito fondoRosa"></div><span>{{ 'InfoMercado.miEmpresa' | translate }}: </span><span>{{mercadoInfo.calidadMediaEmpresa.resultado | number:2}}</span></div>
                                        <div class="capaMercado capaParaGraficaMercado"><div class="cuadradito fondoVerdeRenta"></div><span>{{ 'InfoMercado.competencia' | translate }}: </span><span>{{ varloComCalidad | number:2}}</span></div>
                                    </div>
                                </div>
                            </accordion-heading>
                        </accordion-group>
                    </li>
                    <li >
                        <accordion-group is-open="status.open12" class="sinAcordeon">
                            <accordion-heading>
                                <div class="presupuestoDetalle">
                                    <div>
                                        <span class="nombrePro">{{ 'InfoMercado.solvencia' | translate }}</span>
                                        <div class="capaMercado capaParaGraficaMercado"><div class="cuadradito fondoRosa"></div><span>{{ 'InfoMercado.miEmpresa' | translate }}: </span><span>{{mercadoInfo.solvencia | number:2}}</span></div>
                                        <div class="capaMercado capaParaGraficaMercado"><div class="cuadradito fondoVerdeRenta"></div><span>{{ 'InfoMercado.competencia' | translate }}: </span><span>{{ varloComSolvencia | number:2}}</span></div>
                                    </div>
                                </div>
                            </accordion-heading>
                        </accordion-group>
                    </li>
                    <li >
                        <accordion-group is-open="status.open13" class="sinAcordeon">
                            <accordion-heading>
                                <div class="presupuestoDetalle">
                                    <div>
                                        <span class="nombrePro">{{ 'InfoMercado.liquidez' | translate }}</span>
                                        <div class="capaMercado capaParaGraficaMercado"><div class="cuadradito fondoRosa"></div><span>{{ 'InfoMercado.miEmpresa' | translate }}: </span><span>{{mercadoInfo.liquidez | number:2}}</span></div>
                                        <div class="capaMercado capaParaGraficaMercado"><div class="cuadradito fondoVerdeRenta"></div><span>{{ 'InfoMercado.competencia' | translate }}: </span><span>{{ varloComLiquidez | number:2}}</span></div>

                                    </div>
                                </div>
                            </accordion-heading>
                        </accordion-group>
                    </li>

                </accordion>
            </ul>

        </div>



    </div>
</div>