<div ng-controller="miEmpresaController">
    <div id="miEmpresa" class="capaComun">
        <div class="migas">
            <span>{{ 'migasPan.miEmpresa' | translate }} > </span> {{ 'MiEmpresa.miEmpresa' | translate }}<img class="ayuda" src="img/ico_INFO.png" ng-click="pantallaInformacion()"/>
        </div>
        <div class="mesJornada"> <span>{{mesVisualizadoGeneral}}</span></div>

        <div class="valoracionGes capaTitulo">
            <p class="valoracionPA">{{ 'MiEmpresa.valoracionAnt' | translate }}: {{ valoracionGlob | number:2 }}</p>
            <p class="valoracionME">{{ 'MiEmpresa.valoracionIni' | translate }}: {{ valoracionGlobAvg | number:2 }}</p>
        </div>

        <accordion close-others="oneAtATime" class="acordeonEmpresa">
            <accordion-group is-open="status.open">
                <accordion-heading>
                    <div><span class="nombrePro">{{ 'MiEmpresa.informeFin' | translate }}</span>
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.open, 'glyphicon-chevron-down': !status.open}"></i>
                    </div>
                </accordion-heading>
                {{inversionesfin}}
            </accordion-group>

            <accordion-group is-open="status.open2">
                <accordion-heading>
                    <div><span class="nombrePro">{{ 'MiEmpresa.infoMercado' | translate }}</span>
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.open2, 'glyphicon-chevron-down': !status.open2}"></i>
                    </div>
                </accordion-heading>
                {{infoMercado}}
            </accordion-group>

            <accordion-group is-open="status.open3">
            <accordion-heading>
                <div><span class="nombrePro">{{ 'MiEmpresa.infoRrhh' | translate }}</span>
                    <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.open3, 'glyphicon-chevron-down': !status.open3}"></i>
                </div>
            </accordion-heading>
            {{rrhh}}

        </accordion-group>

            <accordion-group is-open="status.open4">
                <accordion-heading>
                    <div><span class="nombrePro">{{ 'MiEmpresa.infoGestPro' | translate }}</span>
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.open4, 'glyphicon-chevron-down': !status.open4}"></i>
                    </div>

                </accordion-heading>
                {{gestProyectos}}
            </accordion-group>
			
			<div ng-show="entorno.id!=2">
				<accordion-group is-open="status.open5">
					<accordion-heading>
						<div><span class="nombrePro">DEBUG</span>
							<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.open5, 'glyphicon-chevron-down': !status.open5}"></i>
						</div>
					</accordion-heading>
					<p><span> ENTORNO: </span><span> {{entorno.nombre}}</span>
					<p><span> EMPRESA: </span><span> {{idEmpresaGeneral}}</span>
				</accordion-group>
			</div>
        </accordion>

        <div class="capaCanvasInv">
            <canvas id="chartLine" class="miepresaGrafica" ></canvas>
        </div>
        <div class="leyenda">
            <div class="cuadradito fondoAzul"></div>{{ 'MiEmpresa.valoracionMen' | translate }}</br>
            <div class="cuadradito fondoVerdeRenta"></div>{{ 'MiEmpresa.valoracionMedia' | translate }}</br>


        </div>
    </div>


</div>