<div ng-controller="organizacionController">
    <div id="prestamos" class="contratacion capaComun organizacion">
        <div class="migas"><span>{{ 'migasPan.rrhh' | translate }} > </span> {{ 'Organizacion.Titulo' | translate }}<img class="ayuda" src="img/ico_INFO.png" ng-click="pantallaInformacion()"/></div>
        <div class="mesJornada"> <span>{{mesVisualizadoGeneral}}</span></div>
        <div class="menuTitulo menuContratacion">
                <div class="izqMenCont">
                    <span ng-click="contratados(2)">{{ 'Organizacion.DisenoTexto' | translate }}</span>
                    <input type="checkbox" ng-model="checkDisenador" value="disenador" ng-click="contratados(2)">
                </div>
                <div class="dchaMenCont">
                    <span ng-click="contratados(1)">{{ 'Organizacion.ProgamacionTexto' | translate }}</span>
                    <input type="checkbox" ng-model="checkProgramador" value="programador" ng-click="contratados(1)">
                </div>

            </div>
            <div class="contratacionPersonas" id="organizacionPersonas">
                <ul class="acordeon">
                    <accordion close-others="true">
                        <li ng-repeat="contratados in contratadosInfo">
                            <accordion-group is-open="status.open">
                                <accordion-heading>
                                    <div class="poblacionDetalle">
                                        <div class="izqPoblacion">
                                            <img src="img/{{contratados.Imagen}}.jpg"/>
                                        </div>
                                        <div class="dchaPoblacion">
                                            <div><span class="nombrePro">{{contratados.Nombre}} {{contratados.Apellidos}}</span></div>
                                            <div><span>{{ 'Contratacion.costeSalarial' | translate }}:</span> <span class="verde" ng-currency ng-model="contratados.salarioJornada" multip="coste" sin-decimales=1 >{{contratados.salarioJornada * coste }}</span></div>
                                            <div ng-switch on="contratados.estadoFormacion">
                                                <span>{{ 'Contratacion.formacion' | translate }}: </span>
                                                <span class="verde" ng-switch-when="0">{{ 'comunes.noMin' | translate }}</span>
                                                <span class="verde" ng-switch-when="1">{{ 'comunes.siMin' | translate }}</span>
                                            </div>
                                            <div ng-switch on="contratados.vacaciones">
                                                <span>{{ 'Organizacion.vacaciones' | translate }}:</span>
                                                <span class="verde" ng-switch-when="0">{{ 'Organizacion.sinAsignar' | translate }}</span>
                                                <span class="verde" ng-switch-when="1">{{ 'Fechas.Mes1' | translate }}</span>
                                                <span class="verde" ng-switch-when="2">{{ 'Fechas.Mes2' | translate }}</span>
                                                <span class="verde" ng-switch-when="3">{{ 'Fechas.Mes3' | translate }}</span>
                                                <span class="verde" ng-switch-when="4">{{ 'Fechas.Mes4' | translate }}</span>
                                                <span class="verde" ng-switch-when="5">{{ 'Fechas.Mes5' | translate }}</span>
                                                <span class="verde" ng-switch-when="6">{{ 'Fechas.Mes6' | translate }}</span>
                                                <span class="verde" ng-switch-when="7">{{ 'Fechas.Mes7' | translate }}</span>
                                                <span class="verde" ng-switch-when="8">{{ 'Fechas.Mes8' | translate }}</span>
                                                <span class="verde" ng-switch-when="9">{{ 'Fechas.Mes9' | translate }}</span>
                                                <span class="verde" ng-switch-when="10">{{ 'Fechas.Mes10' | translate }}</span>
                                                <span class="verde" ng-switch-when="11">{{ 'Fechas.Mes11' | translate }}</span>
                                                <span class="verde" ng-switch-when="12">{{ 'Fechas.Mes12' | translate }}</span>
                                            </div>
                                            <div><span>{{ 'Organizacion.horarioLab' | translate }}:</span> <span class="verde">{{contratados.horarios}}</span>
                                                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.open, 'glyphicon-chevron-down': !status.open}"></i>
                                            </div>
                                        </div>
                                    </div>

                                </accordion-heading>

                                <form class="rentaV" name="formOrganizacion" ng-model="formOrganizacion">

                                    <div>
                                        <span>{{ 'Organizacion.horarioLab' | translate }}: </span>
                                        <select class="dchaPr" ng-model="horario" ng-init="horario=contratados.horarios" ng-change="cambiandoHoras()">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>

                                        </select>
                                    </div>
                                    <div>
                                        <span>{{ 'Organizacion.vacaciones' | translate }}: </span>
                                        <select class="dchaPr" ng-model="vacaciones" ng-init="vacaciones=contratados.vacaciones" ng-change="cambioVacaciones()">
                                            <option value="0" selected>{{ 'Organizacion.sinAsignar' | translate }}</option>
                                            <option value="1">{{ 'Fechas.Mes1' | translate }}</option>
                                            <option value="2">{{ 'Fechas.Mes2' | translate }}</option>
                                            <option value="3">{{ 'Fechas.Mes3' | translate }}</option>
                                            <option value="4">{{ 'Fechas.Mes4' | translate }}</option>
                                            <option value="5">{{ 'Fechas.Mes5' | translate }}</option>
                                            <option value="6">{{ 'Fechas.Mes6' | translate }}</option>
                                            <option value="7">{{ 'Fechas.Mes7' | translate }}</option>
                                            <option value="8">{{ 'Fechas.Mes8' | translate }}</option>
                                            <option value="9">{{ 'Fechas.Mes9' | translate }}</option>
                                            <option value="10">{{ 'Fechas.Mes10' | translate }}</option>
                                            <option value="11">{{ 'Fechas.Mes11' | translate }}</option>
                                            <option value="12">{{ 'Fechas.Mes12' | translate }}</option>

                                        </select>
                                    </div>

                                    <div><span>{{ 'Contratacion.salarioOfre' | translate }}: </span><input select-on-click type="tel" ng-model="salarioOfrConvertido" ng-currency campo-editable customer-info="salarioOfr" sin-decimales=1 ng-init="salarioOfrConvertido=convertirMonedaBaseActual(contratados.salarioJornada)" ng-change="cambiandoSalario()"/></div>
                                    <div><span>{{ 'Contratacion.costeSalarial' | translate }}: </span> <span class="costeSalarial" ng-currency ng-model="salarioOfr" multip="coste" sin-decimales=1 >{{salarioOfr * coste}}</span></div>
                                    <div class="formacion">
                                        <span>{{ 'Contratacion.formacion' | translate }}: </span>
                                       <div>
                                            <input type="radio" name="costeSal" ng-model="formacion" ng-init="formacion = contratados.estadoFormacion" value="1" ng-checked="contratados.estadoFormacion == '1'" ng-change="cambiandoFormacion(formacion)"/><span class="formSiNo">{{ 'comunes.si' | translate }}</span>
                                        </div>

                                        <div>
                                            <input type="radio" name="costeSal" ng-model="formacion" ng-init="formacion = contratados.estadoFormacion" value="0" ng-checked="contratados.estadoFormacion == '0'" ng-change="cambiandoFormacion(formacion)"/><span class="formSiNo">{{ 'comunes.no' | translate }}</span>
                                        </div>
                                    
                                    </div>
                                    <div><input type="hidden" ng-model="salarioOfrSinModificar" ng-init="salarioOfrSinModificar=contratados.salarioActual" ></div>
                                    <div class="capaBoton">
                                        <button class="form-control btnGuardar btn btn-success" ng-click="guardar(contratados.idPoblacion, horario,vacaciones, salarioOfr, formacion, contratados.Perfil, contratados.tipoContrato, salarioOfrSinModificar, contratados.vacaciones)"  type="submit">{{ 'comunes.guardar' | translate }}</button>
                                    </div>

                                </form>
                            </accordion-group>
                        </li>

                    </accordion>
                </ul>
                <div class="nosubvencion" ng-show="ningunContratado">
                    <span class="noSubvencion">{{ 'Organizacion.noContratado' | translate }}</span>
                </div>

            </div>


        <div class="capaUps" ng-show="mostrarUps">
            <img class="ups_img" src="img/cuore_Ups.gif"/>
            <h1 class="ups_titulo">{{ 'Ups.ups' | translate }}</h1>
            <div class="ups_mensaje">
                <div><span>{{ errorOrgPorcentaje }}</span></div>
                <div><span>{{ errorOrgFormVac}}</span></div>
                <div><span>{{ errorOrgParcialHoras }}</span></div>
				<div><span>{{ errorContSalarioMin }}</span></div>
            </div>
            <a class="form-control btnGuardar btn btn-success" ng-click="cerrarUps()">{{ 'comunes.volver' | translate }}</a>
        </div>

    </div>

</div>