<div class="fondoConcurso" ng-controller="premiosController">
    <div id="nuevaPartida" class="capaRanking" > <!--ng-swipe-left="showActions = true" ng-swipe-right="showActions = false">-->
        
        <div id="capaPremios" ng-show="!showActions">
            <div class="titulo">{{ 'Concurso.premios' | translate }}</div>
                <!--
				<div class ="galeriaPremios">
                    <img ng-show="!showActions" src="img/galeria_1R.jpg"/>
                </div> 
				-->
                <div class="groupOptions" >
                    
					<div class="capaPremioGeneral " ng-repeat= "premios in premiosInfo" ng-show="$index==0">
						<div class="capaPremio capaPremio_{{$index + 1}}">
							
						</div>
						<div class="capaPreImg">
							<div ng-if="idUsuarioConcurso == premios.idUsuario"><img src="img/Premio_{{$index + 1}}_ganador.svg"/></div>
							<div ng-if="idUsuarioConcurso != premios.idUsuario"><img src="img/Premio_{{$index + 1}}.svg"/></div>
						</div>
						<div class="capaPreDescrip">
							<span ng-if="idioma == 'es'">{{premios.descripcion_es}}</span>
							<span ng-if="idioma == 'en'">{{premios.descripcion_en}}</span>
							<span ng-if="idioma == 'pt'">{{premios.descripcion_pt}}</span>
						</div>
					</div>
                   
                </div>
       
        </div>
		<!--
        <div id="capaSorteos" ng-show="showActions">
			<div class="titulo">{{ 'Concurso.sorteos' | translate }}</div>
			<div class ="galeriaPremios">
				<img ng-show="showActions" src="img/galeria_2R.jpg"/>
			</div>
			<div class="groupOptions" >
				
				<div class="capaSorteoGeneral " ng-class="(puntuacionUser >= sorteo.puntuacion) ? 'activo' : 'inactivo' "  ng-repeat= "sorteo in sorteosInfo">
					<div class="capaSorteo" >
						<div class="detalleSorteo">
							<div class="capaSorteoImg" >
								<span >{{ 'Concurso.sorteos_nivel' | translate }}</span>
								<span class="nivel">{{sorteo.nivel}}</span>
							</div>
							<div class="capaSorteoDescrip">
								<span ng-if="idioma == 'es'">{{sorteo.desc_es}}</span>
								<span ng-if="idioma == 'en'">{{sorteo.desc_en}}</span>
								<span ng-if="idioma == 'pt'">{{sorteo.desc_pt}}</span>
							</div>
						</div>
						<div class="puntuacionSorteo">
							<span class="indicacion">{{ 'Concurso.sorteos_puntos_necesarios' | translate }}</span>
							<span class="puntos verde">{{sorteo.puntuacion}}</span>
						</div>
						
					</div>
					
					
					
				</div>
			   
			</div>
        </div>
        -->

       
        <div class="groupOptions">
             <a class="btn btn-success btnGuardar" href="#/concurso">{{ 'Ranking.volver' | translate }}</a>
        </div>


    </div>
</div>


