<div ng-controller="prestamosController">
    <div id="prestamos" class="prestamos capaComun">
        <div class="migas"><span>{{ 'migasPan.financiera' | translate }} > </span> {{ 'Prestamos.prestamos' | translate }}<img class="ayuda" src="img/ico_INFO.png" ng-click="pantallaInformacion()"/></div>

      <!--  <div class="saldo">Importe máximo {{importeMax }}  €</div>-->
        <!--/*Pedir préstamos*/-->

        <div ng-show="!showActions" ng-swipe-left="showActions = true" >
            <div class ="galeria">
                <span>{{mesVisualizadoGeneral}}</span><img src="img/galeria_1.jpg"/>
            </div>


            <div class="menuPrestamos">
                <div class="menuTitulo">
                    <span>{{ 'Prestamos.peticionPres' | translate }}</span>
                </div>
            </div>

            <div class="pedirPrestamos">
                 <div class="capaPrestamos">
                     <ul class="acordeon">
                         <accordion close-others="true">
                             <li>
                                 <accordion-group is-open="status.open">
                                     <accordion-heading>
                                         <div class="presupuestoDetalle">
                                             <div><span class="izqPr">{{ 'Prestamos.importeMax' | translate }}:</span><span class="dchaPr verde" ng-currency ng-model="importeMax" sin-decimales=1 > {{importeMaxFormateado }} </span></div>
											 <!--<p>modelo: {{ importeMax }}</p>-->
                                             <div><span class="izqPr">{{ 'Prestamos.tipoInt' | translate }}:</span><span class="dchaPr verde"> {{tipoInteresFormateado | number:2 }} %</span></div>
                                             <div >
                                                 <span class="izqPr">{{ 'Prestamos.plazoAnios' | translate }}: </span>
                                                 <select class="dchaPr" ng-model="plazo" ng-init="plazo=0">
                                                     <option value="0" selected>{{ 'Prestamos.seleccionaPlazo' | translate }}</option>
                                                     <option value="1">1</option>
                                                     <option value="2">2</option>
                                                     <option value="3">3</option>
                                                     <option value="4">4</option>
                                                     <option value="5">5</option>
                                                 </select>
                                             </div>
                                             <div>
                                                 <span class="izqPr">{{ 'Prestamos.introduceImporte' | translate }}: </span>
                                                 <input class="dchaPr" select-on-click type="tel" ng-init="importeConvertido=0" class="form-control" name="importeConvertido" ng-model="importeConvertido" ng-currency campo-editable customer-info="importe" sin-decimales=1 />
												 <!--<p>modelo convertido: {{ importeConvertido }}</p>-->
                                            	 <!--<p>modelo base : {{ importe }}</p>-->
                                             </div>
                                             <div class="capaBoton botonPrestamos">
												 <span ng-show="prestamoMenorMinimo" class="rojoBold">{{ 'Prestamos.NoPuedesPrestamoMenorMinimo' | translate }}</span>
                                                 <span ng-show="!prestamoMenorMinimo && !prestamoUnoPorJornada" class="rojoBold">{{ 'Prestamos.NoPuedesPedirMas' | translate }}</span>												 
                                                 <button ng-show="!prestamoMenorMinimo && prestamoUnoPorJornada" class="form-control btnGuardar btn btn-success pedirPrestamoBoton" ng-click="pedirPrestamos(tipoInteres, plazo, importe)"  type="submit"><span>{{ 'Prestamos.pedirPrestamo' | translate }}</span></button>
                                             </div>

                                         </div>
                                     </accordion-heading>


                                 </accordion-group>
                             </li>

                         </accordion>
                     </ul>


            </div>
                <div class="capaCanvasInv">
                    <canvas id="chartLine" class="prestamosGrafica"  height="250"></canvas>
                </div>
                <div class="leyenda" ng-show="showLeyendas" >
                    <!-- Difprest + TDI-->
                    <div class="cuadradito fondoVerdeRenta"></div>{{ 'Prestamos.tasaIntDif' | translate }}
                </div>
            </div>

        </div>
        <div ng-show="showActions" ng-swipe-right="showActions = false" >
            <div class ="galeria">
                <span>{{mesVisualizadoGeneral}}</span><img src="img/galeria_2.jpg"/>
            </div>
            <div class="menuPrestamos">

                 <div class="menuTitulo">
                     <span>{{ 'Prestamos.prestamosCont' | translate }}</span>
                 </div>

            </div>
            <div class="contrataPrestamo">
                <ul class="acordeon">
                    <accordion close-others="true">
                        <!--   <li ng-repeat="prestamosAc in prestamosInfoActual">
                               <accordion-group is-open="status.open">
                                   <accordion-heading>
                                       <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.open, 'glyphicon-chevron-down': !status.open}"></i>
                                       <div>Prestamos contratado en: {{prestamosAc.momento }}</div>
                                       <div>Plazo: {{prestamosAc.idPlazo }} años</div>
                                       <div>Cuota pendiente: {{prestamosAc.CuotasP }} </div>
                                       <div>Cantidad pendiente: {{prestamosAc.CtdadP }}</div>
                                       <div>Cuota periódica: {{prestamosAc.CuotaPer }}</div>
                                   </accordion-heading>
                                   <form class="rentaV" name="rentaV">
                                       <div>Importe: {{prestamosAc.Importe }} </div>
                                       <div>Tipo de interés: {{prestamosAc.Interes}} %</div>
                                       <div>Próxima amortización: {{prestamosAc.ProxAmort }} </div>
                                       <div>Próximos intereses: {{prestamosAc.ProxInt }} </div>
                                       <div ><input type="hidden"  ng-model="idPrestamo" name="idPrestamo"/></div>

                                       <div class="capaBoton">
                                           <button class="form-control btnCancelar btn btn-danger" ng-click="cancelarPrestamos(prestamosAc)"  type="submit">CANCELAR PRÉSTAMO</button>
                                       </div>

                                   </form>
                               </accordion-group>
                           </li>-->
                        <li ng-repeat="prestamos in prestamosInfo">
                            <accordion-group is-open="status.open">
                                <accordion-heading>
                                    <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.open, 'glyphicon-chevron-down': !status.open}"></i>
                                    <div><span>{{ 'Prestamos.prestamosContrado' | translate }}: {{ devolverMes(prestamos.momento) }}</span></div>
                                    <div><span>{{ 'Prestamos.plazo' | translate }} ({{ 'Prestamos.anios' | translate }}): {{ prestamos.idPlazo }}</span></div>
                                    <div><span>{{ 'Prestamos.cuotasPend' | translate }}: {{ prestamos.CuotasP }} </span></div>
                                    <div><span>{{ 'Prestamos.cantidadPend' | translate }}: </span><span ng-currency ng-model="prestamos.CtdadP" sin-decimales=1>{{ prestamos.CtdadP }} </span></div>
                                    <div><span>{{ 'Prestamos.cuotaPeriodica' | translate }}: </span><span ng-currency ng-model="prestamos.CuotaPer" sin-decimales=1>{{ prestamos.CuotaPer }} </span></div>
                                </accordion-heading>
                                <form class="rentaV" name="rentaV">
                                    <div><span >{{ 'Prestamos.importe' | translate }}: </span><span class="verde" ng-currency ng-model="prestamos.Importe" sin-decimales=1 >{{ prestamos.Importe }}  </span></div>
                                    <div><span>{{ 'Prestamos.tipoInt' | translate }}: </span><span class="verde">{{ prestamos.Interes | number:2}} %</span></div>
                                    <div><span>{{ 'Prestamos.proxAmor' | translate }}: </span><span class="verde" ng-currency ng-model="prestamos.ProxAmort" sin-decimales=1 >{{ prestamos.ProxAmort }} </span></div>
                                    <div><span>{{ 'Prestamos.proxInt' | translate }}: </span><span class="verde" ng-currency ng-model="prestamos.ProxInt" sin-decimales=1 >{{ prestamos.ProxInt }} </span></div>
                                    <div ><input type="hidden"  ng-model="idPrestamo" name="idPrestamo"/></div>

                                    <div class="capaBoton">
                                        <button class="form-control btnCancelar btn btn-danger" ng-click="cancelarPrestamos(prestamos)"  type="submit">{{ 'Prestamos.cancelarPrest' | translate }}</button>
                                    </div>

                                </form>
                            </accordion-group>
                        </li>
                        <li ng-repeat="prestamosC in prestamosInfoCancelados">
                            <accordion-group is-open="status.open">
                                <accordion-heading>
                                    <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.open, 'glyphicon-chevron-down': !status.open}"></i>
                                    <div><span>{{ 'Prestamos.prestamoCancelado' | translate }}</span></div>
                                    <div><span>{{ 'Prestamos.plazoAnios' | translate }}: {{ prestamosC.idPlazo }}</span></div>
                                    <div><span>{{ 'Prestamos.cuotasPend' | translate }}: {{ prestamosC.CuotasP }} </span></div>
                                    <div><span>{{ 'Prestamos.cantidadPend' | translate }}: </span><span ng-currency ng-model="prestamosC.CtdadP" sin-decimales=1> {{ prestamosC.CtdadP }}</span></div>
                                    <div><span>{{ 'Prestamos.cuotaPeriodica' | translate }}: </span><span ng-currency ng-model="prestamosC.CuotaPer" sin-decimales=1> {{prestamosC.CuotaPer }}</span></div>
                                </accordion-heading>
                                <form class="rentaV" name="rentaV">
                                    <div><span>{{ 'Prestamos.importe' | translate }}: </span><span class="verde" ng-currency ng-model="prestamosC.Importe" sin-decimales=1 >{{ prestamosC.Importe }} </span></div>
                                    <div><span>{{ 'Prestamos.tipoInt' | translate }}: </span><span class="verde" >{{ prestamosC.Interes | number:2 }} %</span></div>
                                    <div><span>{{ 'Prestamos.proxAmor' | translate }}: </span><span class="verde" ng-currency ng-model="prestamosC.ProxAmort" sin-decimales=1 >{{ prestamosC.ProxAmort }} </span></div>
                                    <div><span>{{ 'Prestamos.proxInt' | translate }}: </span><span class="verde" ng-currency ng-model="prestamosC.ProxInt" sin-decimales=1 >{{ prestamosC.ProxInt }} </span></div>
                                    <div ><input type="hidden"  ng-model="idPrestamo" name="idPrestamo"/></div>

                                    <div class="capaBoton">
                                        <button class="form-control btnCancelar btn btn-danger" ng-click="descancelarPrestamos(prestamosC)"  type="submit">{{ 'Prestamos.anularcCanc' | translate }}</button>
                                    </div>

                                </form>
                            </accordion-group>
                        </li>
                    </accordion>
                </ul>
            </div>
        </div>

        <div class="capaUps" ng-show="mostrarUps">
            <img class="ups_img" src="img/cuore_Ups.gif"/>
            <h1 class="ups_titulo">{{ 'Ups.ups' | translate }}</h1>
            <div class="ups_mensaje">
                <div><span>{{ errorPrestamosPlazo }}</span></div>
                <div><span>{{ errorPrestamosImporteMenor }}</span></div>
                <div><span>{{ errorPrestamosImporteMaximo }}</span></div>

            </div>
            <a class="form-control btnGuardar btn btn-success" ng-click="cerrarUps()">{{ 'comunes.volver' | translate }}</a>
        </div>



    </div>

</div>