<div ng-controller="proyectosController">
    <div id="prestamos" class="contratacion capaComun presupuestos">
        <div class="migas"><span>{{ 'migasPan.rrhh' | translate }} > </span> {{ 'Proyectos.proyectos' | translate }}<img class="ayuda" src="img/ico_INFO.png" ng-click="pantallaInformacion()"/></div>
        <div class="mesJornada"> <span>{{mesVisualizadoGeneral}}</span></div>
        <div class="horasDisponibles">
            <div class="menuTitulo">
                <span>{{ 'Proyectos.horasTotalesDisp' | translate }}</span>
            </div>
            <div>
                <div class="izq">
                    <div><span>{{ 'Proyectos.disenio' | translate }}:</span> <span class="verde">{{horasTotales.Dise}}</span></div>
                </div>
                <div class="dcha">
                    <div><span>{{ 'Proyectos.programacion' | translate }}:</span> <span class="verde">{{horasTotales.Prog}}</span></div>
                </div>
            </div>
        </div>
        <div class="presupuestosAcordeon" id="presupuestosAcordeon">
            <ul class="acordeon" >
                <accordion close-others="true">
                    <li ng-repeat="proyectos in proyectosInfoProyectos" ng-init="parseData(proyectos)" >
                        <accordion-group is-open="status.open" >
                            <accordion-heading>
                                <div class="presupuestoDetalle">
                                    <div><span class="nombrePro">{{ 'Proyectos.idProyecto' | translate }}: </span><span class="rojo">{{proyectos.idProyecto}}</span>
                                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.open, 'glyphicon-chevron-down': !status.open}"></i>
                                    </div>									
                                    <div><span>{{ 'Proyectos.fechaEnttrega' | translate }}:</span> <span class="verde">{{devolverMes(momentoReferencia + parseInt(proyectos.momentoEntregaEstimado))}} </span></div>
									<div><span>{{ 'Proyectos.presupuesto' | translate }}: </span><span class="verde" ng-currency ng-model="proyectos.presupuesto" sin-decimales=1 >{{proyectos.presupuesto }}</span></div>
                                    <div><span>{{ 'Proyectos.horasEstDisenio' | translate }}: </span><span class="verde">{{proyectos.horasDisePendientes}} </span></div>
                                    <div><span>{{ 'Proyectos.horasEstProg' | translate }}: </span><span class="verde">{{proyectos.horasProgPendientes}} </span></div>
                                    <div ng-if="proyectos.estado==6" ><span class="rojoBold">{{ 'Proyectos.Bloqueado' | translate }} </span></div>

                                </div>
                            </accordion-heading >

                            <form class="rentaV formPresu" name="rentaV">
                                <div class="horas asignarHoras"><span>{{ 'Proyectos.asignarHoras' | translate }}</span></div>
                                <div class="compraVenta">
                                    <div class="izqCV" ng-switch on="horas">
                                        <span>{{ 'Organizacion.DisenoTexto' | translate }}</span>

                                        <input ng-switch-when="true" select-on-click type="number" class="form-control" name="horasDiseAsig" ng-init="proyectos.horasDiseAsigJornada=0" ng-model="proyectos.horasDiseAsigJornada"  ng-disabled="proyectos.estado==6"/>
                                        <input ng-switch-when="false" select-on-click type="number" class="form-control" name="horasDiseAsig" ng-model="proyectos.horasDiseAsigJornada"  ng-disabled="proyectos.estado==6"/>

                                    </div>
                                    <div class="dchaCV" ng-switch on="horas">
                                        <span>{{ 'Organizacion.ProgamacionTexto' | translate }}</span>
                                        <input ng-switch-when="true" select-on-click type="number" class="form-control" name="horasProgAsig" ng-init="proyectos.horasProgAsigJornada=0" ng-model="proyectos.horasProgAsigJornada" ng-disabled="proyectos.estado==6" />
                                        <input ng-switch-when="false" select-on-click type="number" class="form-control" name="horasProgAsig" ng-model="proyectos.horasProgAsigJornada" ng-disabled="proyectos.estado==6" />
                                    </div>
                                </div>

                                <div class="capaBoton">
                                    <button class="form-control btnGuardar btn btn-success" ng-click="asignarHorasProyecto(proyectos.idProyecto, proyectos.horasDiseAsigJornada,proyectos.horasProgAsigJornada)" type="submit" ng-disabled="proyectos.estado==6">{{ 'Proyectos.guardarCambios' | translate }}</button>
                                    <button class="form-control btnCancelar btn btn-danger" ng-click="cancelarProyecto(proyectos.idProyecto)" type="submit" >{{ 'Proyectos.cancelarProy' | translate }}</button>
                                </div>

                            </form>
                        </accordion-group>
                    </li>

                </accordion>
            </ul>
            <div class="nosubvencion" ng-show="ningunProyecto">
                <span class="noSubvencion">{{ 'Proyectos.noConseguido' | translate }}</span>
            </div>
        </div>

        <div class="capaUps" ng-show="mostrarUps">
            <img class="ups_img" src="img/cuore_Ups.gif"/>
            <h1 class="ups_titulo">{{ 'Ups.ups' | translate }}</h1>
            <div class="ups_mensaje">
                <div><span>{{ errorProyectosHorasSup }}</span></div>
            </div>
            <a class="form-control btnGuardar btn btn-success" ng-click="cerrarUps()">{{ 'comunes.volver' | translate }}</a>
        </div>

    </div>


</div>