<div ng-controller="publicidadController">
    <div id="publicidad" class="inversiones capaComun">
        <div class="migas"><span>{{ 'migasPan.marketing' | translate }} > </span> {{ 'Publicidad.publicidad' | translate }}<img class="ayuda" src="img/ico_INFO.png" ng-click="pantallaInformacion()"/></div>
        <div class="mesJornada"> <span>{{mesVisualizadoGeneral}}</span></div>
        <ul class="acordeon acordeonPublicidad">
            <accordion close-others="true">
                <li>
                    <accordion-group is-open="status.open">
                        <accordion-heading>
                            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.open, 'glyphicon-chevron-down': !status.open}"></i>
                            <div class="nombreRenta"><span>{{ 'Publicidad.mercadoLocal' | translate }}</span></div>
                                <div class="izqPu">
                                    <div><span>{{ 'Publicidad.especializados' | translate }}: </span> <span class="verde" ng-currency ng-model="publicidadInfoLocalEspecializado.cobertura" sin-decimales=1>{{publicidadInfoLocalEspecializado.cobertura}}</span></div>
                                    <div><span>{{ 'Publicidad.radio' | translate }}: </span> <span class="verde" ng-currency ng-model="publicidadInfoLocalMedioRadio.cobertura" sin-decimales=1>{{publicidadInfoLocalMedioRadio.cobertura}}</span></div>
                                </div>
                                <div class="dchaPu">
                                    <div><span>{{ 'Publicidad.internet' | translate }}: </span> <span class="verde" ng-currency ng-model="publicidadInfoLocalMedioInternet.cobertura" sin-decimales=1>{{publicidadInfoLocalMedioInternet.cobertura}}</span></div>
                                    <div><span>{{ 'Publicidad.tv' | translate }}: </span> <span class="verde" ng-currency ng-model="publicidadInfoLocalMedioTv.cobertura" sin-decimales=1>{{publicidadInfoLocalMedioTv.cobertura}}</span></div>
                                </div>
                        </accordion-heading>
                        <form class="rentaV" name="rentaV">
                            <span class="invertir">{{ 'Publicidad.invertirPublicidadMerLocal' | translate }}</span>
                            <div class="compraVenta">
                                <div class="izqCV"><span>{{ 'Publicidad.especializadoMay' | translate }}</span> <input select-on-click type="tel" ng-init="mespConvertido" class="form-control" name="mespConvertido" ng-model="mespConvertido" ng-currency campo-editable customer-info="mesp" sin-decimales=1/></div>
                                <div class="dchaCV"><span>{{ 'Publicidad.internetMay' | translate }}</span> <input select-on-click type="tel" ng-init="internetConvertido" class="form-control" name="internetConvertido" ng-model="internetConvertido" ng-currency campo-editable customer-info="internet" sin-decimales=1/></div>

                            </div>
                            <div class="compraVenta">

                                <div class="izqCV"><span>{{ 'Publicidad.radioMay' | translate }}</span> <input select-on-click type="tel" ng-init="radioLConvertido" class="form-control" name="radioLConvertido" ng-model="radioLConvertido" ng-currency campo-editable customer-info="radioL" sin-decimales=1/></div>
                                <div class="dchaCV"><span>{{ 'Publicidad.tvMay' | translate }}</span> <input select-on-click type="tel" ng-init="tvConvertido" class="form-control" name="tvConvertido" ng-model="tvConvertido" ng-currency campo-editable customer-info="tv" sin-decimales=1/></div>
                            </div>
                            <div class="capaBotonPubli">
                                <button class="form-control btnGuardar btn btn-success" ng-click="actualizarCoberturaLocal(mesp, radioL, internet, tv, publicidadInfoLocalEspecializado.idInversion, publicidadInfoLocalMedioRadio.idInversion,publicidadInfoLocalMedioInternet.idInversion, publicidadInfoLocalMedioTv.idInversion)"  type="submit" ng-disabled ="tv==null || radioL==null || internet==null || mesp==null">{{ 'comunes.guardar' | translate }}</button>
                            </div>

                        </form>
                    </accordion-group>
                </li>
                <li>
                    <accordion-group is-open="statusDos.open">
                        <accordion-heading>
                            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': statusDos.open, 'glyphicon-chevron-down': !statusDos.open}"></i>
                            <div class="nombreRenta"><span>{{ 'Publicidad.mercadoNacional' | translate }}</span></div>
                            <div class="izqPu">
                                <div><span>{{ 'Publicidad.especializados' | translate }}: </span> <span class="verde" ng-currency ng-model="publicidadInfoNacionalEspecializado.cobertura" sin-decimales=1>{{publicidadInfoNacionalEspecializado.cobertura}}</span></div>
                            </div>
                            <div class="dchaPu">
                                <div><span>{{ 'Publicidad.internet' | translate }}: </span> <span class="verde" ng-currency ng-model="publicidadInfoNacionalMedioInternet.cobertura" sin-decimales=1>{{publicidadInfoNacionalMedioInternet.cobertura}}</span></div>
                                <div><span>{{ 'Publicidad.tv' | translate }}: </span> <span class="verde" ng-currency ng-model="publicidadInfoNacionalMedioTv.cobertura" sin-decimales=1>{{publicidadInfoNacionalMedioTv.cobertura}}</span></div>
                            </div>
                        </accordion-heading>
                        <form class="rentaV" name="rentaV">
                            <span class="invertir">{{ 'Publicidad.invertirPublicidadMerNacional' | translate }}</span>
                            <div class="compraVenta">
                                <div class="izqCV"><span>{{ 'Publicidad.especializadoMay' | translate }}</span> <input select-on-click type="tel" ng-init="mespNacConvertido" class="form-control" name="mespNacConvertido" ng-model="mespNacConvertido" ng-currency campo-editable customer-info="mespNac" sin-decimales=1/></div>
                                <div class="dchaCV"><span>{{ 'Publicidad.internetMay' | translate }}</span> <input select-on-click type="tel" ng-init="internetNacConvertido" class="form-control" name="internetNacConvertido" ng-model="internetNacConvertido" ng-currency campo-editable customer-info="internetNac" sin-decimales=1/></div>
                                <div class="izqCV"></div>
                                <div class="dchaCV"><span>{{ 'Publicidad.tvMay' | translate }}</span> <input select-on-click type="tel" ng-init="tvNacConvertido" class="form-control" name="tvNacConvertido" ng-model="tvNacConvertido"  ng-currency campo-editable customer-info="tvNac" sin-decimales=1/></div>
                            </div>
                            <div class="capaBotonPubli">
                                <button class="form-control btnGuardar btn btn-success" ng-click="actualizarCoberturaNacional(mespNac, internetNac, tvNac, publicidadInfoNacionalEspecializado.idInversion, publicidadInfoNacionalMedioInternet.idInversion, publicidadInfoNacionalMedioTv.idInversion)"  type="submit" ng-disabled ="mespNac==null || internetNac==null || tvNac==null">{{ 'comunes.guardar' | translate }}</button>
                            </div>

                        </form>
                    </accordion-group>
                </li>
                <li>
                    <accordion-group is-open="statusInter.open">
                        <accordion-heading>
                            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': statusInter.open, 'glyphicon-chevron-down': !statusInter.open}"></i>
                            <div class="nombreRenta"><span>{{ 'Publicidad.mercadoInternacional' | translate }}</span></div>
                            <div class="izqPu">
                                <div><span>{{ 'Publicidad.internet' | translate }}: </span> <span class="verde" ng-currency ng-model="publicidadInfoInterNacionalMedioInternet.cobertura" sin-decimales=1>{{publicidadInfoInterNacionalMedioInternet.cobertura}}</span></div>
                            </div>
                            <div class="dchaPu">
                                <div></div>
                                <div></div>
                            </div>
                        </accordion-heading>
                        <form class="rentaV" name="rentaV">
                            <span class="invertir">{{ 'Publicidad.invertirPubMerInter' | translate }}</span>
                            <div class="compraVenta">
                                <div class="izqCV"><span>{{ 'Publicidad.internetMay' | translate }}</span> 
									<input select-on-click type="tel" ng-init="internetInterConvertido" class="form-control" name="internetInterConvertido" ng-model="internetInterConvertido" ng-currency campo-editable customer-info="internetInter" sin-decimales=1/>
								</div>
                                <div class="dchaCV"></div>
                                <div class="izqCV"></div>
                                <div class="dchaCV"></div>

                            </div>
                            <div class="capaBotonPubli">
                                <button class="form-control btnGuardar btn btn-success" ng-click="actualizarCoberturaInternacional(internetInter, publicidadInfoInterNacionalMedioInternet.idInversion)"  type="submit"  ng-disabled ="internetInter==null">{{ 'comunes.guardar' | translate }}</button>
                            </div>

                        </form>
                    </accordion-group>
                </li>
            </accordion>
        </ul>
		<div class="capaInversionTotalPub">
			<div>
				<span class="invertir inversionTotal">{{ 'Publicidad.inversionTotal' | translate }} ({{ MonedaActualSimbolo }}): </span>
				<span ng-model="coberturaTotal" ng-currency sin-decimales=1>{{coberturaTotal }}</span> 
			</div>
		</div>
        <div class="capaCanvasPub">
            <div class="izqPubGraf">

                <div class="capaCanvas capaCanvas1">
                    <canvas id="chart" width="100" height="100"></canvas>
                </div>
                <div class="leyenda">
                    <div class="cuadradito fondoAzul"></div>{{ 'Publicidad.coberturaLocal' | translate }}</br>
                </div>
            </div>
            <div class="izqPubGraf">

                <div class="capaCanvas capaCanvas2">
                    <canvas id="chart1" width="100" height="100"></canvas>
                </div>
                <div class="leyenda">
                    <div class="cuadradito fondoVerdeRenta"></div>{{ 'Publicidad.coberturaNacional' | translate }}</br>

                </div>
            </div>
            <div class="dchaPubGraf">

                <div class="capaCanvas capaCanvas3">
                    <canvas id="chart2" width="100" height="100"></canvas>
                </div>
                <div class="leyenda">
                    <div class="cuadradito fondoRosa"></div>{{ 'Publicidad.coberturaInternacional' | translate }}</br>

                </div>
            </div>
        </div>
		
		 <div class="capaUps" ng-show="mostrarUps">
            <img class="ups_img" src="img/cuore_Ups.gif"/>
            <h1 class="ups_titulo">{{ 'Ups.ups' | translate }}</h1>
            <div class="ups_mensaje">
                <div><span>{{ errorPublicidad }}</span></div>
            </div>
            <a class="form-control btnGuardar btn btn-success" ng-click="cerrarUps()">{{ 'comunes.volver' | translate }}</a>
        </div>

    </div>


</div>