<div class="fondoNuevaPartida" ng-controller="rankingController">
    <div id="nuevaPartida" class="capaRanking" ng-swipe-left="showActions = true" ng-swipe-right="showActions = false">
        <div class="titulo tituloRanking">{{ 'Ranking.titulo' | translate }}</div>
        <div class="rankingSituDif groupOptions">

            <select ng-model="situacion" ng-init="situacion=0">
                <option value="0" ng-selected="selected">{{ 'Ranking.situacion' | translate }}</option>
                <option value="1" >{{ 'Partida.creacion' | translate }}</option>
                <option value="2">{{ 'Partida.seismesesCrea' | translate }}</option>
                <option value="3">{{ 'Partida.docemesesCrea' | translate }}</option>

            </select>


            <select ng-model="dificultad" ng-init="dificultad=0">
                <option value="0" ng-selected="selected">{{ 'Ranking.dificultad' | translate }}</option>
                <option value="1">{{ 'Partida.facil' | translate }}</option>
                <option value="2">{{ 'Partida.medio' | translate }}</option>
                <option value="3">{{ 'Partida.dificil' | translate }}</option>

            </select>

            <a ng-click="seleccionarSitDif(situacion, dificultad)" class="glyphicon glyphicon-refresh"></a>
        </div>
        <div class="rankingPuntuaciones groupOptions" >
           <div class="rankingPersonal" ng-class="{'': showActions, 'textoSub': !showActions}"  >

               <span >{{ 'Ranking.rankingPersonal' | translate }}</span>

           </div>
           <div class="rankingImg">
               <img ng-show="!showActions" src="img/galeria_1R.jpg"/>
               <img ng-show="showActions"  src="img/galeria_2R.jpg"/>
           </div>
           <div class="rankingGlobal" ng-class="{'textoSub': showActions, '': !showActions}">

               <span>{{ 'Ranking.rankingGlobal' | translate }}</span>
           </div>
       </div>
        <div class="groupOptions usuarios"  ng-show="!showActions">
           <table class="ranking" ng-show="!NoHayDatos">
               <tr>
                   <th >{{ 'Ranking.n' | translate}}</th>
                   <th  >{{ 'Ranking.fechaPartida' | translate}}
				    </th>
                   <th >{{ 'Ranking.puntos' | translate}}
				   </th>
               </tr>
               <tr ng-repeat="fila in ranking | orderBy:predicate:reverse" class="filaRanking">
                   <td>{{$index + 1}}</td>
                   <td>{{fila.fechaInicio}}</td>
                   <td>{{fila.puntuacion}}</td>
               </tr>
           </table>
            <table class="ranking" ng-show="NoHayDatos">
                <tr>
                    <th >{{ 'Ranking.n' | translate}}</th>
                    <th >{{ 'Ranking.fechaPartida' | translate}} </th>
                    <th>{{ 'Ranking.puntos' | translate}} </th>
                </tr>
                <tr>
                    <td></td>
                    <td>{{Datos}}</td>
                    <td></td>
                </tr>
            </table>
        </div>

        <!-- Ranking global -->
        <div class="groupOptions usuarios"  ng-show="showActions">
            <table class="ranking">
                <tr>
                    <th >{{ 'Ranking.n' | translate}}</th>
                    <th>{{ 'Ranking.fechaPartida' | translate}}  </th>
                    <th>{{ 'Ranking.puntos' | translate}}</th>
                </tr>

                <tr  ng-repeat="fila in rankingGeneralTop | orderBy:predicate:reverse" class="filaRanking" ng-class="posicion == fila.rank ? 'destacado' : ''">
                    <td>{{$index + 1}}</td>
                    <td>{{fila.fechaInicio}}</td>
                    <td>{{fila.puntuacion}}</td>
                </tr>
                <tr ng-show="mostrar">
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                </tr>
                <tr ng-show="mostrar" ng-repeat="fila in rankingGeneralUsuario | orderBy:predicate:reverse" class="filaRanking" ng-class="posicion == fila.rank ? 'destacado' : ''"  >

                    <td>{{fila.rank}}</td>
                    <td>{{fila.fechaInicio}}</td>
                    <td>{{fila.puntuacion}}</td>
                </tr>



            </table>
        </div>
        <div class="groupOptions">
            <a class="btn btn-success btnGuardar" href="#/menuPrincipal">{{ 'Ranking.volver' | translate }}</a>
        </div>


    </div>
</div>


