<div id="menuOpciones" class="fondo" >
    <div class="menuOpciones">
        <a class="form-control btnGuardar btn btn-success" href="#/ranking" >{{ 'Partida.single' | translate }} </a>
        <a class="form-control btnGuardar btn btn-success" href="#/rankingMulti">{{ 'Partida.multi' | translate }} </a>
        <a class="btn btn-success btnGuardar" href="#/menuPrincipal">{{ 'Partida.volver' | translate }}</a>
    </div>
       
</div>