<div class="fondoConcurso" ng-controller="rankingConcursoController">

    <div id="nuevaPartida" class="capaRanking">
        <div class="titulo tituloRanking">{{ 'Ranking.titulo' | translate }}</div>
        <!-- opciones de paises y casos
		<div class="rankingSituDifMulti groupOptions" ng-show="!rankingFinal" ng-hide="rankingFinal">
           <select class="form-control" name="pais" id="pais" ng-model="pais" ng-init="pais=-1">
				<option ng-selected="selected" value="-1">{{ 'Login.pais' | translate }}</option>  
				<option ng-repeat="pais in paises" value="{{pais.idPais}}" >{{pais.nombre}}</option>  
			</select>
			<select ng-model="maxDecisionesEmpresa" ng-init="maxDecisionesEmpresa=0">
				<option value="0" ng-selected="selected">{{ 'Ranking.situacion' | translate }}</option>
                <option value="6" >{{ 'Partida.seismesesMulti' | translate }}</option>
                <option value="12">{{ 'Partida.docemesesMulti' | translate }}</option>
                <option value="18">{{ 'Partida.dieciochoMulti' | translate }}</option>
          </select>

            <a ng-click="seleccionarPais(pais)" class="glyphicon glyphicon-refresh"></a>
        </div>
        -->
        <div class="groupOptions usuarios"  ng-show="!showActions">
           <table class="ranking" ng-show="!NoHayDatos">
               <tr>
                   <th >{{ 'Ranking.n' | translate}}</th>
                   <th  >{{ 'Ranking.nick' | translate}}
				   </th>
                   <th >{{ 'Ranking.puntos' | translate}}
				   </th>
               </tr>
               <tr ng-repeat="fila in ranking | orderBy:predicate:reverse" class="filaRanking">
                   <td>{{$index + 1}}</td>
                   <td>{{fila.User}}</td>
                   <td>{{fila.puntuacion}}</td>
               </tr>
           </table>
            <table class="ranking" ng-show="NoHayDatos">
                <tr>
                    <th >{{ 'Ranking.n' | translate}}</th>
                    <th >{{ 'Ranking.nick' | translate}} </th>
                    <th>{{ 'Ranking.puntos' | translate}} </th>
                </tr>
                <tr>
                    <td></td>
                    <td>{{Datos}}</td>
                    <td></td>
                </tr>
            </table>
        </div>

       
        <div class="groupOptions">
            <a class="btn btn-success btnGuardar" href="#/concurso">{{ 'Ranking.volver' | translate }}</a>
        </div>

     
    </div>
</div>


