<div id="menuOpciones" class="fondoConcurso" ng-controller="recuperarPassword">
    <div class="menuOpciones capaLogin">
        <div class="tituloLogin">
          <span >{{ 'Login.login' | translate }}</span>
        </div>
         <div class="formulario">
            <form class="loginForm" name="loginForm" ng-model="loginForm" role="form" >
                <span class="texto_blanco">Código:</span>
                <input type="text" id="login" class="form-control" name="codigo" ng-model="codigo" required/>
               
                <span class="texto_blanco">Email:</span>
                <input type="text" class="form-control" name="email" ng-model="email" required/>
                 
                <span class="texto_blanco">Nueva contraseña:</span>
                <input type="text" class="form-control" name="password" ng-model="password" required/>
                 
                <a class="btn btn-success btnGuardar" ng-click="comprobar_pwd_code()" ng-disabled="!loginForm.$valid">{{ 'comunes.aceptar' | translate }} </a>

                  
            </form>
           
          </div>

          <a class="btn btn-success btnGuardar" href="#/menuPrincipal">{{ 'Ranking.volver' | translate }}</a>

    </div>
   
    
</div>
   
</div>